{%
  set classes = [
  'comment',
  'js-comment',
  status != 'published' ? 'comment--' ~ status,
  comment.owner.anonymous ? 'by-anonymous',
  author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
  'clearfix',
]
%}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>
  {#
    Hide the "new" indicator by default, let a piece of JavaScript ask the
    server which comments are new for the user. Rendering the final "new"
    indicator here would break the render cache.
  #}
  <span class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></span>

  <footer class="comment__meta">
    {{ user_picture }}
    <p class="comment__author">{{ author }}</p>
    <p class="comment__time">{{ created }}</p>
    <p class="comment__permalink">{{ permalink }}</p>
    {#
      Indicate the semantic relationship between parent and child comments
      for accessibility. The list is difficult to navigate in a screen
      reader without this information.
    #}
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
  </footer>

  <div{{ content_attributes.addClass('comment__content') }}>
    {% if title %}
      {{ title_prefix }}
      <h3{{ title_attributes }}>{{ title }}</h3>
      {{ title_suffix }}
    {% endif %}
    {{ content }}
  </div>
</article>
