#auth_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #middle_part {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: unset;
    box-shadow: unset;

    .title {
      @include title-block;
    }

    form {
      .control-label, p  {
        @include font_style($second_font, 12px, 400, $second_color);
        text-transform: uppercase;
      }

      input {
        @include form-input;
        margin-bottom: 15px;
      }

      .form-actions {
        text-align: center;
        .form-submit {
          @include submit-button
        }
      }
    }

  }

  #bottom_part {
    .password_link, .register_link, .back_link {
      a {
        @include font_style($second_font, 12px, 400, $second_color);
      }
    }
  }
}
