.view-blog {
  @include media_container;

  .title {
    @include title-block;
    margin-top: 30px;
    font-size: 30px;
  }

  .subtitle {
    @include subtitle;
  }

  .views-row {
    display: flex;
    justify-content: space-around;
    margin: 60px auto;

    .text-wrapper {
      max-width: 630px;
      margin-left: 20px;

      .authored-information {
        display: flex;
        justify-content: start;
        margin-bottom: 25px;

        .date-post {
          @include font_style($main_font, 14px, 700, $second_color);
          margin-right: 30px;
          text-transform: uppercase;
          line-height: 20px;
          text-align: center;
          padding: 14px;
          border: 2px solid $second_color;
        }

        .title-blog-post {
          .views-field-title {
            margin-bottom: 15px;

            a {
              @include font_style($main_font, 16px, 400, $second_color);
              text-transform: uppercase;
              .block-views-blockblog-block-1 {
                @include media_container;
                margin-bottom: 100px;

                .block-title {
                  @include title-block;
                }

                .subtitle {
                  @include subtitle;
                }

                .views-row {
                  display: flex;
                  justify-content: space-around;
                  margin: 60px auto;

                  .text-wrapper {
                    max-width: 630px;
                    margin-left: 10px;

                    .authored-information {
                      display: flex;
                      justify-content: start;
                      margin-bottom: 25px;

                      .date-post {
                        @include font_style($main_font, 14px, 700, $second_color);
                        margin-right: 30px;
                        text-transform: uppercase;
                        line-height: 20px;
                        text-align: center;
                        padding: 19px 23px;
                        border: 2px solid $second_color;

                        @media (max-width: 767px) {
                          padding: 14px 18px;
                        }

                      }

                      .title-blog-post {
                        cursor: pointer;
                        .views-field-title {
                          margin-bottom: 15px;

                          a {
                            @include font_style($main_font, 16px, 400, $second_color);
                            text-transform: uppercase;

                            &:active {
                              @include font_style($main_font, 16px, 400, $second_color);
                            }
                          }
                        }

                        .author-and-tag-information {
                          @include font_style($second_font, 14px, 400, $second_font);
                          font-style: italic;


                          .author-name {
                            text-transform: capitalize;
                            cursor: pointer;
                          }
                        }

                        &:hover {
                          .views-field-title {
                            a {
                              color: $active_color;
                              text-decoration: none;
                            }
                          }

                          .author-name, .tag {
                            color: $active_color;
                          }
                        }
                      }
                    }

                    .views-field-body {
                      margin-bottom: 30px;
                      line-height: 24px;
                      @include font_style($second_font, 15px, 400, $second_color);
                    }

                    .views-field-view-node {
                      a {
                        @include font_style($second_font, 13px, 700, $second_color);
                        text-transform: uppercase;

                        &:hover {
                          color: $active_color;
                          text-decoration: none;
                        }
                      }
                    }
                  }

                  @media(max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 750px;
                    margin: 20px auto;
                    .text-wrapper {
                      margin-top: 20px;

                      .views-field-view-node {
                        text-align: center;
                      }
                    }
                  }
                }
              }

              &:active {
                @include font_style($main_font, 16px, 400, $second_color);
              }
            }
          }

          .author-and-tag-information {
            @include font_style($second_font, 14px, 400, $second_font);
            font-style: italic;

            .author-name {
              text-transform: capitalize;
            }
          }

          &:hover {
            .views-field-title {
              a {
                color: $active_color;
                text-decoration: none;
              }
            }

            .author-name, .tag {
              color: $active_color;
            }
          }
        }
      }

      .views-field-body {
        margin-bottom: 30px;
        line-height: 24px;
        @include font_style($second_font, 15px, 400, $second_color);
      }

      .views-field-view-node {
        a {
          @include font_style($second_font, 13px, 700, $second_color);
          text-transform: uppercase;

          &:hover {
            color: $active_color;
            text-decoration: none;
          }
        }
      }
    }

    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 750px;
      margin: 20px auto;
      .text-wrapper {
        margin-top: 20px;

        .views-field-view-node {
          text-align: center;
        }
      }
    }
  }
}
