.footer {
  margin-top: 0;
  min-height: 307px;
  background: $active_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .region-footer {
    height: 100%;
    @include media_container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .block-social-media-links-footer {
      margin-bottom: 40px;
      position: relative;

      a {
        text-align: center;
        width: 35px;
        height: 35px;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 2px solid $main_color;
        border-radius: 50%;
        line-height: 28px;
        font-size: 9px;
        color: $main_color;
      }

      &::before {
        position: absolute;
        content: '';
        right: 42%;
        bottom: -20px;
        width: 50px;
        height: 2px;
        background: $main_color;
      }
    }

    .copyright-block {
      @include font_style($second_font, 12px, 400 ,$main_color);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}
