.block-views-blockabout-us-block-1 {
  background: $background_color;

  .block-title {
    margin-top: 100px;
    @include title-block;
  }

  .subtitle {
    @include subtitle;
  }

  .view-content {
    @include media_container;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

    .views-row {
      max-width: 553px;

      .views-field-body {
        @include font_style($second_font, $second_color, 400, 14px);
        line-height: 24px;
      }
    }

    @media(max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 25px;

      .views-row {
        margin-bottom: 30px;

        .views-field-body {
          margin: 5px 10px;
        }
      }
    }
  }
}

