.block-views-blocktestimonials-block-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background_color;
  min-height: 305px;
  margin-bottom: 100px;

  .slick--view--testimonials {
    @include media_container;

    .slick-track {
      .slick-slide {
        display: flex;
        justify-content: center;

        .slick__slide {
          max-width: 763px;
          text-align: center;
          margin-bottom: 30px;


          .views-field-body {
            @include font_style($second_font, 18px, 400, $second_color);
            font-style: italic;
            line-height: 24px;
            margin-bottom: 25px;
          }

          .views-field-field-name {
            @include font_style($second_font, 20px, 400, $second_color);
          }

          @media (max-width: 768px) {
            max-width: 470px;
            .views-field-body {
              @include font_style($second_font, 14px, 400, $second_color);
              font-style: italic;
              margin-bottom: 25px;
            }

            .views-field-field-name {
              @include font_style($second_font, 16px, 400, $second_color);
            }
          }

          @media (max-width: 480px) {
            max-width: 300px;
            .views-field-body {
              line-height: 28px;
              max-width: 300px;
            }
          }
        }
      }
    }

    .slick-dots {
      li {
        button {
          &::before {
            font-size: 16px;
          }
        }

        &.slick-active {
          button {
            &::before {
              color: $active_color;
            }
          }
        }
      }
    }
  }
}

