.block-views-blockservices-block-1 {
  @include media_container;
  margin: 100px auto;

  .block-title {
    @include title-block;
  }

  .subtitle {
    @include subtitle;
  }

  .view-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .views-field {
      &-field-font-awesome-icon {
        @include font_style($second_font, 50px, 400, $active_color);
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: 0 auto;
        border:  2px solid $second_color;
        border-radius: 50%;
        background: $main_color;
        transition: all .5s ease;

        &:hover {
          color: $main_color;
          background: $active_color;
        }
      }

      &-title {
        margin: 25px;
        .field-content {
          @include font_style($main_font, 14px, 400, $second_color);
          text-transform: uppercase;
        }
      }

      &-body {
        .field-content > p {
          @include font_style($main_font, 14px, 400, $second_color);
          padding: 0 15px;
        }
      }
    }

    @media(max-width: 767px) {
      flex-wrap: wrap;

      .views-row {
        margin-bottom: 30px;
      }
    }
  }
}
