.block-views-blockcontact-block-1 {
  background: $main_color;
  margin: 0 10px 100px;

  .block-title {
    @include title-block;
  }

  .subtitle {
    @include subtitle;
  }

  .views-row {
    @include media_container;
    display: flex;
    justify-content: space-around;

    .content-wrapper-left {
      max-width: 415px;

      .paragraph--type--contact {
        display: flex;

        .label-container {
          margin-bottom: 25px;

          .field--name-field-title {
            @include font_style($main_font, 14px, 400, $second_color);
            text-transform: uppercase;
            margin-bottom: 12px;

          }

          .field--name-field-information {
            @include font_style($main_font, 12px, 400, $second_color);

            .field--item {
              margin-bottom: 3px;
            }
          }
        }

        .field--name-field-icon {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }

    .content-wrapper-right {
      max-width: 735px;

      .form-type-textarea {
        max-width: 728px;

        .form-textarea {
          border: 1px solid $second_color;
          border-radius: unset;
          padding: 17px 0 0 17px;

          &::placeholder {
            text-transform: uppercase;
            @include font_style($second_font, 12px, 400, $second_color);
          }

          &:focus {
            border: 1px solid $active_color;

            &::placeholder {
              color: transparent;
            }
          }

        }
      }

      .container-inline {
        max-width: 728px;
        display: flex;

        .container-name-subject {
          margin-right: 30px;
        }

        .form-item {
          max-width: 351px;

          .form-control {
            @include form-input;
          }
        }
      }

      .messages-description {
        display: flex;
        align-items: center;

        .form-actions {
          margin-bottom: 0;
          margin-right: 38px;

          .webform-button--submit {
            @include submit-button;
          }
        }

        .description-messages {
          @include font_style($second_font, 12px, 400, $second_color);

          .icon {
            color: $active_color;
          }
        }
      }
    }

    @media(max-width: 767px) {
      flex-direction: column;

      .content-wrapper-left {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .paragraph {
          margin: 10px;
          display: inline-block;

          .layout__region--content {
            flex-direction: column;

            .field--name-field-icon {
              margin-bottom: 5px;
            }
          }
        }
      }

      .content-wrapper-right {
        .container-inline {
          flex-direction: column;
          text-align: center;

          .container-name-subject {
            margin-right: 0;
          }

          .form-textarea {
            max-width: 351px;
            margin: 0 auto;
          }
        }

        .messages-description {
          flex-direction: column-reverse;

          .form-actions {
            margin: 0;
          }

          .description-messages {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
