.block-views-blocklatest-works-block-1 {
  @include media_container;

  .block-title {
    @include title-block;
    margin-bottom: 50px;
  }

  .views-exposed-form {
    display: flex;
    justify-content: space-between;

    .form--inline {
      width: 540px;
      margin: 0 auto;

      .form-radios {
        display: flex;
        justify-content: space-between;
        @include font_style($second_font, 16px, 400, $second_color);

        input {
          display: none;

          &:checked {
            label {
              color: $active_color;
            }
          }
        }

        @media(max-width: 767px) {
          .form-item {
            margin: 0 auto;
          }
        }

        @media(max-width: 576px) {
          @include font_style($second_font, 14px, 400, $second_color);
          justify-content: center;
          flex-direction: column;

          .control-label {
            padding: 0;
            margin: 0 0 10px;
          }
        }
      }
    }
  }

  .view-content {

    .views-row {
      margin: 25px 0;
      position: relative;
      transition: all .5s ease;
      lost-waffle: 4/12 3;

      .views-field-field-media-image {
        .field-content {
          text-align: center;
          img {
            margin: 0 10px;
          }
        }
      }

      .text-description {
        position: absolute;
        display: none;
        text-align: center;
        top: 0;
        right: 10px;
        left: 10px;
        bottom: 0;
        background: rgba($active_color, 0.7);

        .views-field-name {
          margin-top: 106px;

          span {
            @include font_style($main_font, 18px, 400, $main_color);
            letter-spacing: 1.5px;
            line-height: 24px;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .views-field-field-category {
          margin-top: 15px;

          a {
            @include font_style($second_font, 12px, 400, $main_color);
          }
        }

        .views-field-nothing-1 {
          margin-top: 25px;

          .custom-link {
            @include font_style($second_font, 14px, 400, $main_color);
            position: relative;
            display: inline-block;
            padding: 15px 32px;
            color: $active_color;
            background: $main_color;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }

      &:hover {
        .text-description {
          display: block;
        }
      }

    }

    @media (max-width: 768px) {
      .views-row {
        lost-waffle: 6/12 2;
      }
    }

    @media (max-width: 480px) {
      .views-row {
        lost-waffle: 12/12 2;
      }
    }
  }
}
