.block-views-blockemployee-photos-block-1 {
  margin-bottom: 100px;
  background: $background_color;

  .slick--view--employee-photos {
    @include media_container;
    position: relative;
    margin-bottom: 100px;

    .slick__slide {
      position: relative;

      .social-links {
        display: none;
        width: 100%;
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;

        .social-media-links--platforms {
          text-align: center;
          a {
            color: $main_color;
            display: inline-block;
            font-size: 10px;
            padding: 8px;

            &:hover {
              background: $active_color;
            }
          }
        }
      }

      .views-field {
        &-field-media-image {
          .field-content {
            position: relative;
            width: fit-content;

            &::before {
              display: none;
              position: absolute;
              content: '';
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              background: rgba($second_color, 0.5);
            }
          }
        }

        &-field-job-title {
          margin-top: 15px;

          .field-content {
            @include font_style($second_font, 14px, 400, $second_color);
            text-align: center;
            line-height: 24px;
          }
        }

        &-field-name {
          margin-top: 20px;

          .field-content {
            @include font_style($main_font, 14px, 400, $second_color);
            text-align: center;
            line-height: 24px;
            text-transform: uppercase;
          }
        }
      }

      &:hover {
        .views-field-field-media-image {
          .field-content {
            &::before {
              display: block;
            }
          }
        }

        .social-links {
          display: block;
        }
      }

      @media(max-width: 767px) {
        display: flex !important;
        flex-direction: column;
        align-items: center;
      }
    }

    @media(max-width: 1124px) {
      .slick-current {
        div {
          display: flex;
          justify-content: center;
          &:last-child {
            width: auto !important;
          }
        }
      }
    }

    .slick-next {
      top: -29px;
      right: 37px;
      width: 35px;
      height: 38px;
      border: unset;
      border-radius: 0;
      background: rgba($second_color, 0.2);

      &:hover {
        background: $active_color;
      }

      &::before {
        font-size: 20px;
        content: url("../images/fa-angle-right.png");
      }
    }

    .slick-prev {
      background: rgba($second_color, 0.2);
      top: -29px;
      width: 35px;
      height: 38px;
      border: unset;
      border-radius: 0;

      &:hover {
        background: $active_color;
      }

      &::before {
        font-size: 20px;
        content: url("../images/fa-angle-left.png");
      }
    }

    @media(max-width: 768px) {

      .slick-dots {
        bottom: -34px;
        li {
          button {
            &::before {
              font-size: 16px;
            }
          }

          &.slick-active {
            button {
              &::before {
                color: $active_color;
              }
            }
          }
        }
      }
    }

  }
}
