.block-block-content9356ef19-1041-4944-8630-e8f7c2cbd2da {
  background: $background_color;

  .field--name-field-images {
    @include media_container;
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .field--item {
      margin: 10px;
    }
  }

}
