.block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 {
  position: relative;
  min-height: 369px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .field--name-field-title {
    position: relative;
    @include font_style($second_font, 30px, 400, $main_color);
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;

  }

  .field--name-field-subtitle {
    position: relative;
    @include font_style($second_font, 30px, 400, $main_color);
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
  }

  .field--name-field-link {
    position: relative;
    margin-top: 30px;
    line-height: 24px;
    text-align: center;

    a {
      padding: 10px 20px;
      border: 2px solid $main_color;
      max-width: 180px;
      display: inline-block;
      @include font_style($main_font, 16px, 400, $main_color);
      text-transform: uppercase;

      &:active, &:focus {
        color: #ffffff;
      }
    }
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($active_color, 0.6);
  }

  @media (max-width: 768px) {
    .field--name-field-title {
      @include font_style($second_font, 25px, 400, $main_color);
    }

    .field--name-field-subtitle {
           @include font_style($second_font, 18px, 400, $main_color);
    }
  }
}
