.hero-block {
  position: relative;
  min-height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  background-position: center;
  background-size: cover;

  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#000000, 0.45);
  }

  .field {
    position: relative;
    text-align: center;
    z-index: 70;

    &--name-field-title {
      @include font_style($second_font, 58px, 900, $main_color);
      text-transform: uppercase;

      @media(max-width: 767px) {
        font-size: 40px;
      }

      @media(max-width: 480px) {
        font-size: 25px;
      }
    }

    &--name-field-subtitle {
      @include font_style($main_font, 30px, 400, $main_color);

      @media(max-width: 767px) {
        font-size: 25px;
      }

      @media(max-width: 480px) {
        font-size: 18px;
      }
    }

    &--name-field-link {
      position: relative;
      margin-top: 30px;
      line-height: 24px;
      text-align: center;

      a {
        padding: 10px 20px;
        border: 2px solid $main_color;
        max-width: 180px;
        display: inline-block;
        @include font_style($main_font, 16px, 400, $main_color);
        text-transform: uppercase;

        &:active, &:focus {
          color: #ffffff;
        }
      }
    }
  }

  .post-information {
    display: flex;
    flex-direction: column;
    z-index: 10;
    text-align: center;

    .title {
      @include font_style($second_font, 58px, 900, $main_color);
      text-transform: uppercase;

      @media(max-width: 767px) {
        font-size: 40px;
      }

      @media(max-width: 480px) {
        font-size: 25px;
      }
    }

    .author-and-tag-information {
      text-align: right;

      .author-and-tag-information-item {
        @include font_style($second_font, 25px, 400, $main_color);
        font-style: italic;
        padding: 10px 5px;
        .author-name {
          text-transform: capitalize;
        }
      }
    }
  }
}

.hide-content {
  display: none;
  transition: all .5s ease;
}
