.navbar {
  @include media_container;
  background: none;
  border: unset;
  position: absolute;
  z-index: 300;
  left: 0;
  right: 0;

  .navbar-header {
    margin: 0;
    padding: 0;

    .navbar-brand {
      @include font_style('Montserrat', 28px, 700, $main_color);
      line-height: 36px;

      &:hover {
        color: $main_color;
        text-decoration: underline;
      }
    }

    .navbar-toggle {
      margin-right: 0;
      span {
        background-color: $main_color;
      }
    }
  }

  .navbar-collapse {
    float: right;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(#000000, 0.5);

    .menu--main {
      margin: 0;
      padding: 0;

      a {
        @include font_style('Montserrat', 16px, 500, $main_color);

        &.is-active {
          background: none;
          color: $main_color;
          text-decoration: underline;
        }

        &:hover {
          color: $main_color;
          text-decoration: underline;
        }
      }
    }
  }

  @media(max-width: 767px) {
    .navbar-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .navbar-toggle {
        margin-top: 35px;
        background: transparent;
      }
    }

    .navbar-collapse {
      float: none;
      .menu--main {
        text-align: center;
      }
    }
  }
}

.set-bg {
  transition: all .25s;
  background: rgba(#000000, 0.5);
}
