.comment {
  margin: 50px 0;
  &__title {
    @include font_style($second_font, 20px, 400, $second_color);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    span {
      padding: 5px;
      background: white;
      position: relative;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      top: calc(50% - 2px);
      background: $second_color;
      z-index: 5;

    }
  }

  .field--name-comment-author {
    @include font_style($second_font, 20px, 400, $second_color);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-style: italic;
  }

  .field--name-comment-body {
    @include font_style($main_font, 16px, 400, $second_color);
  }

  .field--name-comment-post-date {
    @include font_style($main_font, 16px, 400, $second_color);
    margin-bottom: 15px;
  }

  .links {
    margin-top: 15px;
    a {
      @include font_style($main_font, 14px, 400, $second_color);
    }
  }
}

.comment-form {
  margin-top: 30px;

  .form-item {
    .control-label {
      @include font_style($main_font, 14px, 400, $second_color);
    }

    .form-control {
      border: 1px solid $second_color;
      border-radius: unset;

      &::placeholder {
        text-transform: uppercase;
        @include font_style($second_font, 12px, 400, $second_color);
      }

      &:focus {
        border: 1px solid $active_color;

        &::placeholder {
          color: transparent;
        }
      }

      .form-type-textarea {
        min-height: 44px
      }
    }
  }

  .filter-wrapper {
    border: 1px solid $second_color;
    border-top: none;
    border-radius: unset;
    @include font_style($main_font, 14px, 400, $second_color);
  }

  .form-actions {
    margin-top: 20px;

    .form-submit {
      @include submit-button;

      span {
        &::before {
          content: '';
        }
      }

      &:hover {
        background: $active_color;
        color: $main_color;
      }
    }
  }
}

