.node--type-blog-post {
  @include media_container;
  padding: 25px;
  position: relative;
  margin-top: -80px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(#cccccc, 0.7);

  .preview {
    position: relative;
    display: flex;
    margin: 30px 0 35px;
    border-top: 3px dashed $second_color;
    border-bottom: 3px dashed $second_color;
    padding: 5px;

    .field--name-body {
      @include font_style($second_font, 18px, 400, $text_color_for_blog);
      font-style: italic;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .field--name-body {
        margin-top: 20px;
      }
    }
  }

  .field--name-field-content {
    .field--item {
      margin: 10px auto;
    }
  }

  .field--name-field-disqus-comment {
    margin-top: 25px;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}


