.status-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    @include font_style($second_font, 100px, 400, $second_color);
    .description-code{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
    }
  }

  .back-link {
    @include font_style($second_font, 24px, 400, $second_color);
    text-transform: uppercase;
  }
}
