{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
]
%}

<section{{ attributes.addClass(classes) }}  {% if node_hero_image %} style="background-image: url({{node_hero_image|image_style('max_1300x1300')}}) {% endif %}">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if node_title and node_tag and node_author_name %}
      <div class="post-information">
        <h2 class="title">{{node_title}}</h2>
        <div class="author-and-tag-information">
         <span class="author-and-tag-information-item"> By <span class="author-name">{{ node_author_name }} </span> in <span class="tag">{{ node_tag  }} </span> </span>
        </div>
      </div>
      {{ content|without('field_title', 'field_subtitle', 'field_link') }}
    {% else %}
      {{ content }}
    {% endif %}
  {% endblock %}
</section>
