{% set class = 'comment'%}
<section{{ attributes.addClass(class) }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes }} class="{{ class }}__title"><span>{{ label }}</span></h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <h2{{ content_attributes }} class="{{ class }}__title"><span>{{ 'Add new comment'|t }}</span></h2>
    {{ comment_form }}
  {% endif %}

</section>
