@mixin media_container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin font_style ($font:'Roboto Slab, sans-serif', $size: 14px, $weight : 400, $color: #ffffff) {
  font: {
    family: $font;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

@mixin title-block {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $second_color;

  font: {
    family: $main_font;
    size: 20px;
    weight: 400;
  }

  a {
    color: $second_color;
    &:active {
      color: $second_color;
    }

    &:hover {
      color: $second_color;
      text-decoration: none;
    }
  }

  &::before {
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: $second_color;
  }
}

@mixin subtitle {
  margin: 50px 0;
  text-align: center;
  line-height: 24px;
  color: $second_color;

  font: {
    family: $second_font;
    size: 16px;
    weight: 400;
  }
}

@mixin form-input {
  height: 44px;
  border: 1px solid $second_color;
  border-radius: unset;

  &::placeholder {
    text-transform: uppercase;
    @include font_style($second_font, 12px, 400, $second_color);
  }

  &:focus {
    border: 1px solid $active_color;

    &::placeholder {
      color: transparent;
    }
  }
}

@mixin submit-button {
  background: transparent;
  height: 44px;
  padding: 6px 35px;
  border-radius: unset;
  @include font_style($second_font, 12px, 400, $second_color);
  border: 1px solid $second_color;

  &:hover {
    background: $active_color;
    color: $main_color;
  }
}




