$main_font: 'Montserrat', 'sans-serif';
$second_font : 'Roboto Slab', 'sans-serif';
$main_color: #ffffff;
$second_color: #555555;
$active_color: #c0301c;
$background_color: #f8f8f8;
$text_color_for_blog: #000000;


