body, .main-container {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.node--type-blog-post {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  margin-top: -80px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.7); }
  .node--type-blog-post .preview {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin: 30px 0 35px;
    border-top: 3px dashed #555555;
    border-bottom: 3px dashed #555555;
    padding: 5px; }
    .node--type-blog-post .preview .field--name-body {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 18px;
      font-weight: 400;
      color: #000000;
      font-style: italic; }
    @media (max-width: 768px) {
      .node--type-blog-post .preview {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center; }
        .node--type-blog-post .preview .field--name-body {
          margin-top: 20px; } }
  .node--type-blog-post .field--name-field-content .field--item {
    margin: 10px auto; }
  .node--type-blog-post .field--name-field-disqus-comment {
    margin-top: 25px; }
  @media (max-width: 768px) {
    .node--type-blog-post {
      padding: 0; } }

.view-blog {
  max-width: 1200px;
  margin: 0 auto; }
  .view-blog .title {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    font-size: 30px; }
    .view-blog .title a {
      color: #555555; }
      .view-blog .title a:active {
        color: #555555; }
      .view-blog .title a:hover {
        color: #555555;
        text-decoration: none; }
    .view-blog .title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .view-blog .subtitle {
    margin: 50px 0;
    text-align: center;
    line-height: 24px;
    color: #555555;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 16px;
    font-weight: 400; }
  .view-blog .views-row {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin: 60px auto; }
    .view-blog .views-row .text-wrapper {
      max-width: 630px;
      margin-left: 20px; }
      .view-blog .views-row .text-wrapper .authored-information {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
                justify-content: start;
        margin-bottom: 25px; }
        .view-blog .views-row .text-wrapper .authored-information .date-post {
          font-family: "Montserrat", "sans-serif";
          font-size: 14px;
          font-weight: 700;
          color: #555555;
          margin-right: 30px;
          text-transform: uppercase;
          line-height: 20px;
          text-align: center;
          padding: 14px;
          border: 2px solid #555555; }
        .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title {
          margin-bottom: 15px; }
          .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a {
            font-family: "Montserrat", "sans-serif";
            font-size: 16px;
            font-weight: 400;
            color: #555555;
            text-transform: uppercase; }
            .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 {
              max-width: 1200px;
              margin: 0 auto;
              margin-bottom: 100px; }
              .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title {
                position: relative;
                line-height: 24px;
                text-transform: uppercase;
                text-align: center;
                color: #555555;
                font-family: "Montserrat", "sans-serif";
                font-size: 20px;
                font-weight: 400; }
                .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a {
                  color: #555555; }
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a:active {
                    color: #555555; }
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a:hover {
                    color: #555555;
                    text-decoration: none; }
                .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title::before {
                  top: 40px;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  position: absolute;
                  content: '';
                  width: 50px;
                  height: 2px;
                  background: #555555; }
              .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .subtitle {
                margin: 50px 0;
                text-align: center;
                line-height: 24px;
                color: #555555;
                font-family: "Roboto Slab", "sans-serif";
                font-size: 16px;
                font-weight: 400; }
              .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row {
                display: -webkit-box;
                display: flex;
                justify-content: space-around;
                margin: 60px auto; }
                .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper {
                  max-width: 630px;
                  margin-left: 10px; }
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-pack: start;
                            justify-content: start;
                    margin-bottom: 25px; }
                    .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .date-post {
                      font-family: "Montserrat", "sans-serif";
                      font-size: 14px;
                      font-weight: 700;
                      color: #555555;
                      margin-right: 30px;
                      text-transform: uppercase;
                      line-height: 20px;
                      text-align: center;
                      padding: 19px 23px;
                      border: 2px solid #555555; }
                      @media (max-width: 767px) {
                        .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .date-post {
                          padding: 14px 18px; } }
                    .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post {
                      cursor: pointer; }
                      .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title {
                        margin-bottom: 15px; }
                        .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a {
                          font-family: "Montserrat", "sans-serif";
                          font-size: 16px;
                          font-weight: 400;
                          color: #555555;
                          text-transform: uppercase; }
                          .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a:active {
                            font-family: "Montserrat", "sans-serif";
                            font-size: 16px;
                            font-weight: 400;
                            color: #555555; }
                      .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information {
                        font-family: "Roboto Slab", "sans-serif";
                        font-size: 14px;
                        font-weight: 400;
                        color: "Roboto Slab", "sans-serif";
                        font-style: italic; }
                        .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information .author-name {
                          text-transform: capitalize;
                          cursor: pointer; }
                      .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .views-field-title a {
                        color: #c0301c;
                        text-decoration: none; }
                      .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .author-name, .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .tag {
                        color: #c0301c; }
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-body {
                    margin-bottom: 30px;
                    line-height: 24px;
                    font-family: "Roboto Slab", "sans-serif";
                    font-size: 15px;
                    font-weight: 400;
                    color: #555555; }
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a {
                    font-family: "Roboto Slab", "sans-serif";
                    font-size: 13px;
                    font-weight: 700;
                    color: #555555;
                    text-transform: uppercase; }
                    .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a:hover {
                      color: #c0301c;
                      text-decoration: none; }
                @media (max-width: 767px) {
                  .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                            flex-direction: column;
                    -webkit-box-align: center;
                            align-items: center;
                    max-width: 750px;
                    margin: 20px auto; }
                    .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper {
                      margin-top: 20px; }
                      .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node {
                        text-align: center; } }
            .view-blog .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a:active {
              font-family: "Montserrat", "sans-serif";
              font-size: 16px;
              font-weight: 400;
              color: #555555; }
        .view-blog .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: "Roboto Slab", "sans-serif";
          font-style: italic; }
          .view-blog .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information .author-name {
            text-transform: capitalize; }
        .view-blog .views-row .text-wrapper .authored-information .title-blog-post:hover .views-field-title a {
          color: #c0301c;
          text-decoration: none; }
        .view-blog .views-row .text-wrapper .authored-information .title-blog-post:hover .author-name, .view-blog .views-row .text-wrapper .authored-information .title-blog-post:hover .tag {
          color: #c0301c; }
      .view-blog .views-row .text-wrapper .views-field-body {
        margin-bottom: 30px;
        line-height: 24px;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 15px;
        font-weight: 400;
        color: #555555; }
      .view-blog .views-row .text-wrapper .views-field-view-node a {
        font-family: "Roboto Slab", "sans-serif";
        font-size: 13px;
        font-weight: 700;
        color: #555555;
        text-transform: uppercase; }
        .view-blog .views-row .text-wrapper .views-field-view-node a:hover {
          color: #c0301c;
          text-decoration: none; }
    @media (max-width: 767px) {
      .view-blog .views-row {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        max-width: 750px;
        margin: 20px auto; }
        .view-blog .views-row .text-wrapper {
          margin-top: 20px; }
          .view-blog .views-row .text-wrapper .views-field-view-node {
            text-align: center; } }

#auth_box {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #auth_box #middle_part {
    max-width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border: unset;
    box-shadow: unset; }
    #auth_box #middle_part .title {
      position: relative;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      color: #555555;
      font-family: "Montserrat", "sans-serif";
      font-size: 20px;
      font-weight: 400; }
      #auth_box #middle_part .title a {
        color: #555555; }
        #auth_box #middle_part .title a:active {
          color: #555555; }
        #auth_box #middle_part .title a:hover {
          color: #555555;
          text-decoration: none; }
      #auth_box #middle_part .title::before {
        top: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        content: '';
        width: 50px;
        height: 2px;
        background: #555555; }
    #auth_box #middle_part form .control-label, #auth_box #middle_part form p {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555;
      text-transform: uppercase; }
    #auth_box #middle_part form input {
      height: 44px;
      border: 1px solid #555555;
      border-radius: unset;
      margin-bottom: 15px; }
      #auth_box #middle_part form input::-webkit-input-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      #auth_box #middle_part form input::-moz-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      #auth_box #middle_part form input::-ms-input-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      #auth_box #middle_part form input::placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      #auth_box #middle_part form input:focus {
        border: 1px solid #c0301c; }
        #auth_box #middle_part form input:focus::-webkit-input-placeholder {
          color: transparent; }
        #auth_box #middle_part form input:focus::-moz-placeholder {
          color: transparent; }
        #auth_box #middle_part form input:focus::-ms-input-placeholder {
          color: transparent; }
        #auth_box #middle_part form input:focus::placeholder {
          color: transparent; }
    #auth_box #middle_part form .form-actions {
      text-align: center; }
      #auth_box #middle_part form .form-actions .form-submit {
        background: transparent;
        height: 44px;
        padding: 6px 35px;
        border-radius: unset;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555;
        border: 1px solid #555555; }
        #auth_box #middle_part form .form-actions .form-submit:hover {
          background: #c0301c;
          color: #ffffff; }
  #auth_box #bottom_part .password_link a, #auth_box #bottom_part .register_link a, #auth_box #bottom_part .back_link a {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 12px;
    font-weight: 400;
    color: #555555; }

.status-page {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .status-page .content {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 100px;
    font-weight: 400;
    color: #555555; }
    .status-page .content .description-code {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      text-transform: uppercase; }
  .status-page .back-link {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 24px;
    font-weight: 400;
    color: #555555;
    text-transform: uppercase; }

.paragraph--type--text {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  text-align: justify; }
  @media (max-width: 768px) {
    .paragraph--type--text {
      margin: 15px; } }
  .paragraph--type--text .field--name-field-title-paragraph {
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 10px; }

.paragraph--type--image-and-text .field--name-field-title-paragraph {
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0 10px; }

.paragraph--type--image-and-text--image-position-left .content-wrapper-image-and-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: start; }
  .paragraph--type--image-and-text--image-position-left .content-wrapper-image-and-text .field--name-field-text {
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 30px;
    max-width: 820px;
    line-height: 24px;
    padding-left: 10px;
    text-align: justify; }
    @media (max-width: 768px) {
      .paragraph--type--image-and-text--image-position-left .content-wrapper-image-and-text .field--name-field-text {
        padding: 0 10px;
        margin: 10px 0; } }
  @media (max-width: 768px) {
    .paragraph--type--image-and-text--image-position-left .content-wrapper-image-and-text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center; } }

.paragraph--type--image-and-text--image-position-right .content-wrapper-image-and-text {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
          align-items: end; }
  .paragraph--type--image-and-text--image-position-right .content-wrapper-image-and-text .field--name-field-text {
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    max-width: 820px;
    padding-right: 10px;
    text-align: justify;
    line-height: 24px; }
  @media (max-width: 768px) {
    .paragraph--type--image-and-text--image-position-right .content-wrapper-image-and-text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center; }
      .paragraph--type--image-and-text--image-position-right .content-wrapper-image-and-text .field--name-field-text {
        padding: 0 10px; } }

.paragraph--type--image .content-wrapper {
  position: relative;
  -webkit-transition: all .10s ease;
  transition: all .10s ease; }
  .paragraph--type--image .content-wrapper .text-wrapper-paragraph-image {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5; }
    .paragraph--type--image .content-wrapper .text-wrapper-paragraph-image .field--name-field-title-paragraph {
      display: none;
      width: 100%;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      z-index: 10; }
  .paragraph--type--image .content-wrapper::before {
    position: absolute;
    display: none;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5; }
  .paragraph--type--image .content-wrapper:hover::before {
    display: block; }
  .paragraph--type--image .content-wrapper:hover .field--name-field-title-paragraph {
    display: block; }

.paragraph--type--video .field--name-field-title-paragraph {
  font-family: "Roboto Slab", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  margin-top: 10px;
  text-align: center; }

.paragraph--type--gallery .field--name-field-title-paragraph {
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 10px; }

.paragraph--type--gallery .field--name-field-gallery .field--item {
  width: calc(99.9% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(99.9% * 3/12 - (30px - 30px * 3/12));
  height: calc(99.9% * 3/12 - (30px - 30px * 3/12)); }

.paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(1n) {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none; }

.paragraph--type--gallery .field--name-field-gallery .field--item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(4n) {
  margin-right: 0; }

.paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(4n + 1) {
  clear: both; }

.paragraph--type--gallery .field--name-field-gallery .field--item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

@media (max-width: 768px) {
  .paragraph--type--gallery .field--name-field-gallery .field--item {
    width: calc(99.9% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(99.9% * 6/12 - (30px - 30px * 6/12));
    height: calc(99.9% * 6/12 - (30px - 30px * 6/12)); }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(1n) {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: none; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(2n) {
    margin-right: 0; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(2n + 1) {
    clear: both; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-last-child(-n + 2) {
    margin-bottom: 0; } }

@media (max-width: 480px) {
  .paragraph--type--gallery .field--name-field-gallery .field--item {
    width: calc(99.9% * 12/12 - (30px - 30px * 12/12));
    max-width: calc(99.9% * 12/12 - (30px - 30px * 12/12));
    height: calc(99.9% * 12/12 - (30px - 30px * 12/12)); }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(1n) {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: none; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(1n) {
    margin-right: 0; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-child(1n + 1) {
    clear: both; }
  .paragraph--type--gallery .field--name-field-gallery .field--item:nth-last-child(-n + 1) {
    margin-bottom: 0; } }

.modal-dialog .modal-content .modal-title {
  font-family: "Roboto Slab", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
  text-align: center; }

.modal-dialog .modal-content .modal-header {
  border: none; }
  .modal-dialog .modal-content .modal-header .close {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 32px;
    font-weight: 400;
    color: #000000; }

.modal-dialog .modal-content .modal-body {
  overflow: hidden !important;
  scroll-behavior: unset; }
  .modal-dialog .modal-content .modal-body .webform-submission-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    .modal-dialog .modal-content .modal-body .webform-submission-form .container-inline {
      text-align: center; }
    .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control {
      height: 44px;
      border: 1px solid #555555;
      border-radius: unset; }
      .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control::-webkit-input-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control::-moz-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control::-ms-input-placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control::placeholder {
        text-transform: uppercase;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 12px;
        font-weight: 400;
        color: #555555; }
      .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control:focus {
        border: 1px solid #c0301c; }
        .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control:focus::-webkit-input-placeholder {
          color: transparent; }
        .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control:focus::-moz-placeholder {
          color: transparent; }
        .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control:focus::-ms-input-placeholder {
          color: transparent; }
        .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-control:focus::placeholder {
          color: transparent; }
    .modal-dialog .modal-content .modal-body .webform-submission-form .form-item .form-textarea {
      min-height: 100px; }
  .modal-dialog .modal-content .modal-body .messages-description {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .modal-dialog .modal-content .modal-body .description-messages {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 12px;
    font-weight: 400;
    color: #555555; }
    .modal-dialog .modal-content .modal-body .description-messages .icon {
      color: #c0301c; }

.modal-dialog .modal-footer {
  border: none;
  text-align: center; }
  .modal-dialog .modal-footer .webform-button--submit {
    background: transparent;
    height: 44px;
    padding: 6px 35px;
    border-radius: unset;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 12px;
    font-weight: 400;
    color: #555555;
    border: 1px solid #555555; }
    .modal-dialog .modal-footer .webform-button--submit:hover {
      background: #c0301c;
      color: #ffffff; }

.comment {
  margin: 50px 0; }
  .comment__title {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    .comment__title span {
      padding: 5px;
      background: white;
      position: relative;
      z-index: 10; }
    .comment__title::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      top: calc(50% - 2px);
      background: #555555;
      z-index: 5; }
  .comment .field--name-comment-author {
    font-family: "Roboto Slab", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-style: italic; }
  .comment .field--name-comment-body {
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #555555; }
  .comment .field--name-comment-post-date {
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 15px; }
  .comment .links {
    margin-top: 15px; }
    .comment .links a {
      font-family: "Montserrat", "sans-serif";
      font-size: 14px;
      font-weight: 400;
      color: #555555; }

.comment-form {
  margin-top: 30px; }
  .comment-form .form-item .control-label {
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    color: #555555; }
  .comment-form .form-item .form-control {
    border: 1px solid #555555;
    border-radius: unset; }
    .comment-form .form-item .form-control::-webkit-input-placeholder {
      text-transform: uppercase;
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555; }
    .comment-form .form-item .form-control::-moz-placeholder {
      text-transform: uppercase;
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555; }
    .comment-form .form-item .form-control::-ms-input-placeholder {
      text-transform: uppercase;
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555; }
    .comment-form .form-item .form-control::placeholder {
      text-transform: uppercase;
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555; }
    .comment-form .form-item .form-control:focus {
      border: 1px solid #c0301c; }
      .comment-form .form-item .form-control:focus::-webkit-input-placeholder {
        color: transparent; }
      .comment-form .form-item .form-control:focus::-moz-placeholder {
        color: transparent; }
      .comment-form .form-item .form-control:focus::-ms-input-placeholder {
        color: transparent; }
      .comment-form .form-item .form-control:focus::placeholder {
        color: transparent; }
    .comment-form .form-item .form-control .form-type-textarea {
      min-height: 44px; }
  .comment-form .filter-wrapper {
    border: 1px solid #555555;
    border-top: none;
    border-radius: unset;
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    color: #555555; }
  .comment-form .form-actions {
    margin-top: 20px; }
    .comment-form .form-actions .form-submit {
      background: transparent;
      height: 44px;
      padding: 6px 35px;
      border-radius: unset;
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #555555;
      border: 1px solid #555555; }
      .comment-form .form-actions .form-submit:hover {
        background: #c0301c;
        color: #ffffff; }
      .comment-form .form-actions .form-submit span::before {
        content: ''; }
      .comment-form .form-actions .form-submit:hover {
        background: #c0301c;
        color: #ffffff; }

.navbar-brand {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  color: #ffffff; }

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  background: none;
  border: unset;
  position: absolute;
  z-index: 300;
  left: 0;
  right: 0; }
  .navbar .navbar-header {
    margin: 0;
    padding: 0; }
    .navbar .navbar-header .navbar-brand {
      font-family: "Montserrat";
      font-size: 28px;
      font-weight: 700;
      color: #ffffff;
      line-height: 36px; }
      .navbar .navbar-header .navbar-brand:hover {
        color: #ffffff;
        text-decoration: underline; }
    .navbar .navbar-header .navbar-toggle {
      margin-right: 0; }
      .navbar .navbar-header .navbar-toggle span {
        background-color: #ffffff; }
  .navbar .navbar-collapse {
    float: right;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5); }
    .navbar .navbar-collapse .menu--main {
      margin: 0;
      padding: 0; }
      .navbar .navbar-collapse .menu--main a {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;
        color: #ffffff; }
        .navbar .navbar-collapse .menu--main a.is-active {
          background: none;
          color: #ffffff;
          text-decoration: underline; }
        .navbar .navbar-collapse .menu--main a:hover {
          color: #ffffff;
          text-decoration: underline; }
  @media (max-width: 767px) {
    .navbar .navbar-header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center; }
      .navbar .navbar-header .navbar-toggle {
        margin-top: 35px;
        background: transparent; }
    .navbar .navbar-collapse {
      float: none; }
      .navbar .navbar-collapse .menu--main {
        text-align: center; } }

.set-bg {
  -webkit-transition: all .25s;
  transition: all .25s;
  background: rgba(0, 0, 0, 0.5); }

.hero-block {
  position: relative;
  min-height: 770px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  line-height: 60px;
  background-position: center;
  background-size: cover; }
  .hero-block::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45); }
  .hero-block .field {
    position: relative;
    text-align: center;
    z-index: 70; }
    .hero-block .field--name-field-title {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 58px;
      font-weight: 900;
      color: #ffffff;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .hero-block .field--name-field-title {
          font-size: 40px; } }
      @media (max-width: 480px) {
        .hero-block .field--name-field-title {
          font-size: 25px; } }
    .hero-block .field--name-field-subtitle {
      font-family: "Montserrat", "sans-serif";
      font-size: 30px;
      font-weight: 400;
      color: #ffffff; }
      @media (max-width: 767px) {
        .hero-block .field--name-field-subtitle {
          font-size: 25px; } }
      @media (max-width: 480px) {
        .hero-block .field--name-field-subtitle {
          font-size: 18px; } }
    .hero-block .field--name-field-link {
      position: relative;
      margin-top: 30px;
      line-height: 24px;
      text-align: center; }
      .hero-block .field--name-field-link a {
        padding: 10px 20px;
        border: 2px solid #ffffff;
        max-width: 180px;
        display: inline-block;
        font-family: "Montserrat", "sans-serif";
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase; }
        .hero-block .field--name-field-link a:active, .hero-block .field--name-field-link a:focus {
          color: #ffffff; }
  .hero-block .post-information {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    z-index: 10;
    text-align: center; }
    .hero-block .post-information .title {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 58px;
      font-weight: 900;
      color: #ffffff;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .hero-block .post-information .title {
          font-size: 40px; } }
      @media (max-width: 480px) {
        .hero-block .post-information .title {
          font-size: 25px; } }
    .hero-block .post-information .author-and-tag-information {
      text-align: right; }
      .hero-block .post-information .author-and-tag-information .author-and-tag-information-item {
        font-family: "Roboto Slab", "sans-serif";
        font-size: 25px;
        font-weight: 400;
        color: #ffffff;
        font-style: italic;
        padding: 10px 5px; }
        .hero-block .post-information .author-and-tag-information .author-and-tag-information-item .author-name {
          text-transform: capitalize; }

.hide-content {
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.block-views-blockservices-block-1 {
  max-width: 1200px;
  margin: 0 auto;
  margin: 100px auto; }
  .block-views-blockservices-block-1 .block-title {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400; }
    .block-views-blockservices-block-1 .block-title a {
      color: #555555; }
      .block-views-blockservices-block-1 .block-title a:active {
        color: #555555; }
      .block-views-blockservices-block-1 .block-title a:hover {
        color: #555555;
        text-decoration: none; }
    .block-views-blockservices-block-1 .block-title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .block-views-blockservices-block-1 .subtitle {
    margin: 50px 0;
    text-align: center;
    line-height: 24px;
    color: #555555;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 16px;
    font-weight: 400; }
  .block-views-blockservices-block-1 .view-content {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    text-align: center; }
    .block-views-blockservices-block-1 .view-content .views-field-field-font-awesome-icon {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 50px;
      font-weight: 400;
      color: #c0301c;
      width: 100px;
      height: 100px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      max-width: 100px;
      margin: 0 auto;
      border: 2px solid #555555;
      border-radius: 50%;
      background: #ffffff;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .block-views-blockservices-block-1 .view-content .views-field-field-font-awesome-icon:hover {
        color: #ffffff;
        background: #c0301c; }
    .block-views-blockservices-block-1 .view-content .views-field-title {
      margin: 25px; }
      .block-views-blockservices-block-1 .view-content .views-field-title .field-content {
        font-family: "Montserrat", "sans-serif";
        font-size: 14px;
        font-weight: 400;
        color: #555555;
        text-transform: uppercase; }
    .block-views-blockservices-block-1 .view-content .views-field-body .field-content > p {
      font-family: "Montserrat", "sans-serif";
      font-size: 14px;
      font-weight: 400;
      color: #555555;
      padding: 0 15px; }
    @media (max-width: 767px) {
      .block-views-blockservices-block-1 .view-content {
        flex-wrap: wrap; }
        .block-views-blockservices-block-1 .view-content .views-row {
          margin-bottom: 30px; } }

.block-views-blockabout-us-block-1 {
  background: #f8f8f8; }
  .block-views-blockabout-us-block-1 .block-title {
    margin-top: 100px;
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400; }
    .block-views-blockabout-us-block-1 .block-title a {
      color: #555555; }
      .block-views-blockabout-us-block-1 .block-title a:active {
        color: #555555; }
      .block-views-blockabout-us-block-1 .block-title a:hover {
        color: #555555;
        text-decoration: none; }
    .block-views-blockabout-us-block-1 .block-title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .block-views-blockabout-us-block-1 .subtitle {
    margin: 50px 0;
    text-align: center;
    line-height: 24px;
    color: #555555;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 16px;
    font-weight: 400; }
  .block-views-blockabout-us-block-1 .view-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .block-views-blockabout-us-block-1 .view-content .views-row {
      max-width: 553px; }
      .block-views-blockabout-us-block-1 .view-content .views-row .views-field-body {
        font-family: "Roboto Slab", "sans-serif";
        font-size: #555555;
        font-weight: 400;
        color: 14px;
        line-height: 24px; }
    @media (max-width: 767px) {
      .block-views-blockabout-us-block-1 .view-content {
        flex-wrap: wrap;
        -webkit-box-pack: center;
                justify-content: center;
        margin-bottom: 25px; }
        .block-views-blockabout-us-block-1 .view-content .views-row {
          margin-bottom: 30px; }
          .block-views-blockabout-us-block-1 .view-content .views-row .views-field-body {
            margin: 5px 10px; } }

.block-views-blockemployee-photos-block-1 {
  margin-bottom: 100px;
  background: #f8f8f8; }
  .block-views-blockemployee-photos-block-1 .slick--view--employee-photos {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px; }
    .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide {
      position: relative; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .social-links {
        display: none;
        width: 100%;
        position: absolute;
        top: 180px;
        left: 0;
        right: 0; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .social-links .social-media-links--platforms {
          text-align: center; }
          .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .social-links .social-media-links--platforms a {
            color: #ffffff;
            display: inline-block;
            font-size: 10px;
            padding: 8px; }
            .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .social-links .social-media-links--platforms a:hover {
              background: #c0301c; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-media-image .field-content {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-media-image .field-content::before {
          display: none;
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(85, 85, 85, 0.5); }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-job-title {
        margin-top: 15px; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-job-title .field-content {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #555555;
          text-align: center;
          line-height: 24px; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-name {
        margin-top: 20px; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide .views-field-field-name .field-content {
          font-family: "Montserrat", "sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #555555;
          text-align: center;
          line-height: 24px;
          text-transform: uppercase; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide:hover .views-field-field-media-image .field-content::before {
        display: block; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide:hover .social-links {
        display: block; }
      @media (max-width: 767px) {
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick__slide {
          display: -webkit-box !important;
          display: flex !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          -webkit-box-align: center;
                  align-items: center; } }
    @media (max-width: 1124px) {
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-current div {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-current div:last-child {
          width: auto !important; } }
    .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-next {
      top: -29px;
      right: 37px;
      width: 35px;
      height: 38px;
      border: unset;
      border-radius: 0;
      background: rgba(85, 85, 85, 0.2); }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-next:hover {
        background: #c0301c; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-next::before {
        font-size: 20px;
        content: url("../images/fa-angle-right.png"); }
    .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-prev {
      background: rgba(85, 85, 85, 0.2);
      top: -29px;
      width: 35px;
      height: 38px;
      border: unset;
      border-radius: 0; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-prev:hover {
        background: #c0301c; }
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-prev::before {
        font-size: 20px;
        content: url("../images/fa-angle-left.png"); }
    @media (max-width: 768px) {
      .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-dots {
        bottom: -34px; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-dots li button::before {
          font-size: 16px; }
        .block-views-blockemployee-photos-block-1 .slick--view--employee-photos .slick-dots li.slick-active button::before {
          color: #c0301c; } }

.block-views-blocklatest-works-block-1 {
  max-width: 1200px;
  margin: 0 auto; }
  .block-views-blocklatest-works-block-1 .block-title {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px; }
    .block-views-blocklatest-works-block-1 .block-title a {
      color: #555555; }
      .block-views-blocklatest-works-block-1 .block-title a:active {
        color: #555555; }
      .block-views-blocklatest-works-block-1 .block-title a:hover {
        color: #555555;
        text-decoration: none; }
    .block-views-blocklatest-works-block-1 .block-title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .block-views-blocklatest-works-block-1 .views-exposed-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline {
      width: 540px;
      margin: 0 auto; }
      .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 16px;
        font-weight: 400;
        color: #555555; }
        .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios input {
          display: none; }
          .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios input:checked label {
            color: #c0301c; }
        @media (max-width: 767px) {
          .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios .form-item {
            margin: 0 auto; } }
        @media (max-width: 576px) {
          .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios {
            font-family: "Roboto Slab", "sans-serif";
            font-size: 14px;
            font-weight: 400;
            color: #555555;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column; }
            .block-views-blocklatest-works-block-1 .views-exposed-form .form--inline .form-radios .control-label {
              padding: 0;
              margin: 0 0 10px; } }
  .block-views-blocklatest-works-block-1 .view-content .views-row {
    margin: 25px 0;
    position: relative;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: calc(99.9% * 4/12 - (30px - 30px * 4/12));
    max-width: calc(99.9% * 4/12 - (30px - 30px * 4/12));
    height: calc(99.9% * 4/12 - (30px - 30px * 4/12)); }
  .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(1n) {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: none; }
  .block-views-blocklatest-works-block-1 .view-content .views-row:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(3n) {
    margin-right: 0; }
  .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(3n + 1) {
    clear: both; }
  .block-views-blocklatest-works-block-1 .view-content .views-row:nth-last-child(-n + 3) {
    margin-bottom: 0; }
    .block-views-blocklatest-works-block-1 .view-content .views-row .views-field-field-media-image .field-content {
      text-align: center; }
      .block-views-blocklatest-works-block-1 .view-content .views-row .views-field-field-media-image .field-content img {
        margin: 0 10px; }
    .block-views-blocklatest-works-block-1 .view-content .views-row .text-description {
      position: absolute;
      display: none;
      text-align: center;
      top: 0;
      right: 10px;
      left: 10px;
      bottom: 0;
      background: rgba(192, 48, 28, 0.7); }
      .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-name {
        margin-top: 106px; }
        .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-name span {
          font-family: "Montserrat", "sans-serif";
          font-size: 18px;
          font-weight: 400;
          color: #ffffff;
          letter-spacing: 1.5px;
          line-height: 24px; }
          .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-name span:hover {
            text-decoration: none; }
      .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-field-category {
        margin-top: 15px; }
        .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-field-category a {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 12px;
          font-weight: 400;
          color: #ffffff; }
      .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-nothing-1 {
        margin-top: 25px; }
        .block-views-blocklatest-works-block-1 .view-content .views-row .text-description .views-field-nothing-1 .custom-link {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          position: relative;
          display: inline-block;
          padding: 15px 32px;
          color: #c0301c;
          background: #ffffff;
          text-transform: uppercase;
          cursor: pointer; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:hover .text-description {
      display: block; }
  @media (max-width: 768px) {
    .block-views-blocklatest-works-block-1 .view-content .views-row {
      width: calc(99.9% * 6/12 - (30px - 30px * 6/12));
      max-width: calc(99.9% * 6/12 - (30px - 30px * 6/12));
      height: calc(99.9% * 6/12 - (30px - 30px * 6/12)); }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(1n) {
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
      clear: none; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:last-child {
      margin-right: 0;
      margin-bottom: 0; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(2n) {
      margin-right: 0; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(2n + 1) {
      clear: both; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-last-child(-n + 2) {
      margin-bottom: 0; } }
  @media (max-width: 480px) {
    .block-views-blocklatest-works-block-1 .view-content .views-row {
      width: calc(99.9% * 12/12 - (30px - 30px * 12/12));
      max-width: calc(99.9% * 12/12 - (30px - 30px * 12/12));
      height: calc(99.9% * 12/12 - (30px - 30px * 12/12)); }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(1n) {
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
      clear: none; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:last-child {
      margin-right: 0;
      margin-bottom: 0; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(2n) {
      margin-right: 0; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-child(2n + 1) {
      clear: both; }
    .block-views-blocklatest-works-block-1 .view-content .views-row:nth-last-child(-n + 2) {
      margin-bottom: 0; } }

.block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 {
  position: relative;
  min-height: 369px;
  margin: 100px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-title {
    position: relative;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px; }
  .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-subtitle {
    position: relative;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px; }
  .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-link {
    position: relative;
    margin-top: 30px;
    line-height: 24px;
    text-align: center; }
    .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-link a {
      padding: 10px 20px;
      border: 2px solid #ffffff;
      max-width: 180px;
      display: inline-block;
      font-family: "Montserrat", "sans-serif";
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase; }
      .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-link a:active, .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-link a:focus {
        color: #ffffff; }
  .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62::before {
    position: absolute;
    display: block;
    content: '';
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(192, 48, 28, 0.6); }
  @media (max-width: 768px) {
    .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-title {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 25px;
      font-weight: 400;
      color: #ffffff; }
    .block-block-contentb3d11493-6b8f-4e27-8b05-507db285ce62 .field--name-field-subtitle {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 18px;
      font-weight: 400;
      color: #ffffff; } }

.block-views-blockcontact-block-1 {
  background: #ffffff;
  margin: 0 10px 100px; }
  .block-views-blockcontact-block-1 .block-title {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400; }
    .block-views-blockcontact-block-1 .block-title a {
      color: #555555; }
      .block-views-blockcontact-block-1 .block-title a:active {
        color: #555555; }
      .block-views-blockcontact-block-1 .block-title a:hover {
        color: #555555;
        text-decoration: none; }
    .block-views-blockcontact-block-1 .block-title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .block-views-blockcontact-block-1 .subtitle {
    margin: 50px 0;
    text-align: center;
    line-height: 24px;
    color: #555555;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 16px;
    font-weight: 400; }
  .block-views-blockcontact-block-1 .views-row {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    justify-content: space-around; }
    .block-views-blockcontact-block-1 .views-row .content-wrapper-left {
      max-width: 415px; }
      .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact {
        display: -webkit-box;
        display: flex; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact .label-container {
          margin-bottom: 25px; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact .label-container .field--name-field-title {
            font-family: "Montserrat", "sans-serif";
            font-size: 14px;
            font-weight: 400;
            color: #555555;
            text-transform: uppercase;
            margin-bottom: 12px; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact .label-container .field--name-field-information {
            font-family: "Montserrat", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact .label-container .field--name-field-information .field--item {
              margin-bottom: 3px; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph--type--contact .field--name-field-icon {
          margin-right: 10px;
          font-size: 20px; }
    .block-views-blockcontact-block-1 .views-row .content-wrapper-right {
      max-width: 735px; }
      .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea {
        max-width: 728px; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea {
          border: 1px solid #555555;
          border-radius: unset;
          padding: 17px 0 0 17px; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea::-webkit-input-placeholder {
            text-transform: uppercase;
            font-family: "Roboto Slab", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea::-moz-placeholder {
            text-transform: uppercase;
            font-family: "Roboto Slab", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea::-ms-input-placeholder {
            text-transform: uppercase;
            font-family: "Roboto Slab", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea::placeholder {
            text-transform: uppercase;
            font-family: "Roboto Slab", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea:focus {
            border: 1px solid #c0301c; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea:focus::-webkit-input-placeholder {
              color: transparent; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea:focus::-moz-placeholder {
              color: transparent; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea:focus::-ms-input-placeholder {
              color: transparent; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .form-type-textarea .form-textarea:focus::placeholder {
              color: transparent; }
      .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline {
        max-width: 728px;
        display: -webkit-box;
        display: flex; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .container-name-subject {
          margin-right: 30px; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item {
          max-width: 351px; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control {
            height: 44px;
            border: 1px solid #555555;
            border-radius: unset; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control::-webkit-input-placeholder {
              text-transform: uppercase;
              font-family: "Roboto Slab", "sans-serif";
              font-size: 12px;
              font-weight: 400;
              color: #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control::-moz-placeholder {
              text-transform: uppercase;
              font-family: "Roboto Slab", "sans-serif";
              font-size: 12px;
              font-weight: 400;
              color: #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control::-ms-input-placeholder {
              text-transform: uppercase;
              font-family: "Roboto Slab", "sans-serif";
              font-size: 12px;
              font-weight: 400;
              color: #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control::placeholder {
              text-transform: uppercase;
              font-family: "Roboto Slab", "sans-serif";
              font-size: 12px;
              font-weight: 400;
              color: #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control:focus {
              border: 1px solid #c0301c; }
              .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control:focus::-webkit-input-placeholder {
                color: transparent; }
              .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control:focus::-moz-placeholder {
                color: transparent; }
              .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control:focus::-ms-input-placeholder {
                color: transparent; }
              .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-item .form-control:focus::placeholder {
                color: transparent; }
      .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .form-actions {
          margin-bottom: 0;
          margin-right: 38px; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .form-actions .webform-button--submit {
            background: transparent;
            height: 44px;
            padding: 6px 35px;
            border-radius: unset;
            font-family: "Roboto Slab", "sans-serif";
            font-size: 12px;
            font-weight: 400;
            color: #555555;
            border: 1px solid #555555; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .form-actions .webform-button--submit:hover {
              background: #c0301c;
              color: #ffffff; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .description-messages {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 12px;
          font-weight: 400;
          color: #555555; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .description-messages .icon {
            color: #c0301c; }
    @media (max-width: 767px) {
      .block-views-blockcontact-block-1 .views-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-left {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          -webkit-box-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
                  align-items: center;
          flex-wrap: wrap;
          max-width: 100%;
          width: 100%;
          margin: 0 auto;
          text-align: center; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph {
            margin: 10px;
            display: inline-block; }
            .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph .layout__region--content {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                      flex-direction: column; }
              .block-views-blockcontact-block-1 .views-row .content-wrapper-left .paragraph .layout__region--content .field--name-field-icon {
                margin-bottom: 5px; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          text-align: center; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .container-name-subject {
            margin-right: 0; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .container-inline .form-textarea {
            max-width: 351px;
            margin: 0 auto; }
        .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
                  flex-direction: column-reverse; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .form-actions {
            margin: 0; }
          .block-views-blockcontact-block-1 .views-row .content-wrapper-right .messages-description .description-messages {
            margin-bottom: 15px; } }

.block-views-blocktestimonials-block-1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: #f8f8f8;
  min-height: 305px;
  margin-bottom: 100px; }
  .block-views-blocktestimonials-block-1 .slick--view--testimonials {
    max-width: 1200px;
    margin: 0 auto; }
    .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center; }
      .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide {
        max-width: 763px;
        text-align: center;
        margin-bottom: 30px; }
        .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide .views-field-body {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 18px;
          font-weight: 400;
          color: #555555;
          font-style: italic;
          line-height: 24px;
          margin-bottom: 25px; }
        .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide .views-field-field-name {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 20px;
          font-weight: 400;
          color: #555555; }
        @media (max-width: 768px) {
          .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide {
            max-width: 470px; }
            .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide .views-field-body {
              font-family: "Roboto Slab", "sans-serif";
              font-size: 14px;
              font-weight: 400;
              color: #555555;
              font-style: italic;
              margin-bottom: 25px; }
            .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide .views-field-field-name {
              font-family: "Roboto Slab", "sans-serif";
              font-size: 16px;
              font-weight: 400;
              color: #555555; } }
        @media (max-width: 480px) {
          .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide {
            max-width: 300px; }
            .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-track .slick-slide .slick__slide .views-field-body {
              line-height: 28px;
              max-width: 300px; } }
    .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-dots li button::before {
      font-size: 16px; }
    .block-views-blocktestimonials-block-1 .slick--view--testimonials .slick-dots li.slick-active button::before {
      color: #c0301c; }

.block-block-content9356ef19-1041-4944-8630-e8f7c2cbd2da {
  background: #f8f8f8; }
  .block-block-content9356ef19-1041-4944-8630-e8f7c2cbd2da .field--name-field-images {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 110px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .block-block-content9356ef19-1041-4944-8630-e8f7c2cbd2da .field--name-field-images .field--item {
      margin: 10px; }

.block-views-blockblog-block-1 {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px; }
  .block-views-blockblog-block-1 .block-title {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 400; }
    .block-views-blockblog-block-1 .block-title a {
      color: #555555; }
      .block-views-blockblog-block-1 .block-title a:active {
        color: #555555; }
      .block-views-blockblog-block-1 .block-title a:hover {
        color: #555555;
        text-decoration: none; }
    .block-views-blockblog-block-1 .block-title::before {
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #555555; }
  .block-views-blockblog-block-1 .subtitle {
    margin: 50px 0;
    text-align: center;
    line-height: 24px;
    color: #555555;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 16px;
    font-weight: 400; }
  .block-views-blockblog-block-1 .views-row {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin: 60px auto; }
    .block-views-blockblog-block-1 .views-row .text-wrapper {
      max-width: 630px;
      margin-left: 20px; }
      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
                justify-content: start;
        margin-bottom: 25px; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .date-post {
          font-family: "Montserrat", "sans-serif";
          font-size: 14px;
          font-weight: 700;
          color: #555555;
          margin-right: 30px;
          text-transform: uppercase;
          line-height: 20px;
          text-align: center;
          padding: 14px;
          border: 2px solid #555555;
          max-height: 80px; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title {
          margin-bottom: 15px; }
          .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a {
            font-family: "Montserrat", "sans-serif";
            font-size: 16px;
            font-weight: 400;
            color: #555555;
            text-transform: uppercase; }
            .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 {
              max-width: 1200px;
              margin: 0 auto;
              margin-bottom: 100px; }
              .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title {
                position: relative;
                line-height: 24px;
                text-transform: uppercase;
                text-align: center;
                color: #555555;
                font-family: "Montserrat", "sans-serif";
                font-size: 20px;
                font-weight: 400; }
                .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a {
                  color: #555555; }
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a:active {
                    color: #555555; }
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title a:hover {
                    color: #555555;
                    text-decoration: none; }
                .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .block-title::before {
                  top: 40px;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  position: absolute;
                  content: '';
                  width: 50px;
                  height: 2px;
                  background: #555555; }
              .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .subtitle {
                margin: 50px 0;
                text-align: center;
                line-height: 24px;
                color: #555555;
                font-family: "Roboto Slab", "sans-serif";
                font-size: 16px;
                font-weight: 400; }
              .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row {
                display: -webkit-box;
                display: flex;
                justify-content: space-around;
                margin: 60px auto; }
                .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper {
                  max-width: 630px;
                  margin-left: 10px; }
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-pack: start;
                            justify-content: start;
                    margin-bottom: 25px; }
                    .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .date-post {
                      font-family: "Montserrat", "sans-serif";
                      font-size: 14px;
                      font-weight: 700;
                      color: #555555;
                      margin-right: 30px;
                      text-transform: uppercase;
                      line-height: 20px;
                      text-align: center;
                      padding: 19px 23px;
                      border: 2px solid #555555; }
                      @media (max-width: 767px) {
                        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .date-post {
                          padding: 14px 18px; } }
                    .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post {
                      cursor: pointer; }
                      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title {
                        margin-bottom: 15px; }
                        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a {
                          font-family: "Montserrat", "sans-serif";
                          font-size: 16px;
                          font-weight: 400;
                          color: #555555;
                          text-transform: uppercase; }
                          .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a:active {
                            font-family: "Montserrat", "sans-serif";
                            font-size: 16px;
                            font-weight: 400;
                            color: #555555; }
                      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information {
                        font-family: "Roboto Slab", "sans-serif";
                        font-size: 14px;
                        font-weight: 400;
                        color: "Roboto Slab", "sans-serif";
                        font-style: italic; }
                        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information .author-name {
                          text-transform: capitalize;
                          cursor: pointer; }
                      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .views-field-title a {
                        color: #c0301c;
                        text-decoration: none; }
                      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .author-name, .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .tag {
                        color: #c0301c; }
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-body {
                    margin-bottom: 30px;
                    line-height: 24px;
                    font-family: "Roboto Slab", "sans-serif";
                    font-size: 15px;
                    font-weight: 400;
                    color: #555555; }
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a {
                    font-family: "Roboto Slab", "sans-serif";
                    font-size: 13px;
                    font-weight: 700;
                    color: #555555;
                    text-transform: uppercase; }
                    .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a:hover {
                      color: #c0301c;
                      text-decoration: none; }
                @media (max-width: 767px) {
                  .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                            flex-direction: column;
                    -webkit-box-align: center;
                            align-items: center;
                    max-width: 750px;
                    margin: 20px auto; }
                    .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper {
                      margin-top: 20px; }
                      .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node {
                        text-align: center; } }
            .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .views-field-title a:active {
              font-family: "Montserrat", "sans-serif";
              font-size: 16px;
              font-weight: 400;
              color: #555555; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information {
          font-family: "Roboto Slab", "sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #555555;
          font-style: italic; }
          .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post .author-and-tag-information .author-name {
            text-transform: capitalize; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .views-field-title a {
          color: #c0301c;
          text-decoration: none; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .author-name, .block-views-blockblog-block-1 .views-row .text-wrapper .authored-information .title-blog-post:hover .tag {
          color: #c0301c; }
      .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-body {
        margin-bottom: 30px;
        line-height: 24px;
        font-family: "Roboto Slab", "sans-serif";
        font-size: 15px;
        font-weight: 400;
        color: #555555; }
      .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a {
        font-family: "Roboto Slab", "sans-serif";
        font-size: 13px;
        font-weight: 700;
        color: #555555;
        text-transform: uppercase; }
        .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node a:hover {
          color: #c0301c;
          text-decoration: none; }
    @media (max-width: 767px) {
      .block-views-blockblog-block-1 .views-row {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        max-width: 750px;
        margin: 20px auto; }
        .block-views-blockblog-block-1 .views-row .text-wrapper {
          margin-top: 20px; }
          .block-views-blockblog-block-1 .views-row .text-wrapper .views-field-view-node {
            text-align: center; } }

.footer {
  margin-top: 0;
  min-height: 307px;
  background: #c0301c;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }
  .footer .region-footer {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    .footer .region-footer .block-social-media-links-footer {
      margin-bottom: 40px;
      position: relative; }
      .footer .region-footer .block-social-media-links-footer a {
        text-align: center;
        width: 35px;
        height: 35px;
        padding: 7px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        margin-right: 10px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        line-height: 28px;
        font-size: 9px;
        color: #ffffff; }
      .footer .region-footer .block-social-media-links-footer::before {
        position: absolute;
        content: '';
        right: 42%;
        bottom: -20px;
        width: 50px;
        height: 2px;
        background: #ffffff; }
    .footer .region-footer .copyright-block {
      font-family: "Roboto Slab", "sans-serif";
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px; }

/*# sourceMappingURL=maps/style.css.map */
