.modal-dialog {

  .modal-content {

    .modal-title {
      @include font_style($second_font, 18px, 400, $second_color);
      text-transform: uppercase;
      text-align: center;
    }

    .modal-header {
      border: none;

      .close {
        @include font_style($second_font, 32px, 400, #000000);
      }
    }

    .modal-body {
      overflow: hidden !important;
      scroll-behavior: unset;

      .webform-submission-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container-inline {
          text-align: center;
        }

        .form-item {
          .form-control {
            @include form-input;
          }

          .form-textarea {
            min-height: 100px;
          }
        }
      }

      .messages-description {
        display: flex;
        align-items: center;
      }

      .description-messages {
        @include font_style($second_font, 12px, 400, $second_color);

        .icon {
          color: $active_color;
        }
      }
    }
  }

  .modal-footer {
    border: none;
    text-align: center;

    .webform-button--submit {
      @include submit-button;
    }
  }
}

