.paragraph--type--gallery  {

  .field--name-field-title-paragraph {
    @include font_style($main_font, 20px, 400, $text_color_for_blog);
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 10px;
  }

  .field--name-field-gallery {
    .field--item {
      lost-waffle: 3/12 4;
    }
  }

  @media (max-width: 768px ) {
    .field--name-field-gallery {
      .field--item {
        lost-waffle: 6/12 2;
      }
    }
  }

  @media (max-width: 480px) {
    .field--name-field-gallery {
      .field--item {
        lost-waffle: 12/12 1;
      }
    }
    .field--name-field-title-paragraph {

    }
  }

  @media (max-width : 480px) {

  }
}
