.paragraph--type--image-and-text {

  .field--name-field-title-paragraph {
    @include font_style($main_font, 20px, 400, $text_color_for_blog);
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 10px;
  }

  &--image-position-left {
    .content-wrapper-image-and-text {
      display: flex;
      align-items: start;

      .field--name-field-text {
        @include font_style($main_font, 16px, 400, $text_color_for_blog);
        margin-left: 30px;
        max-width: 820px;
        line-height: 24px;
        padding-left: 10px;
        text-align: justify;
        @media (max-width: 768px) {
          padding: 0 10px;
          margin: 10px 0;

        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &--image-position-right {

    .content-wrapper-image-and-text {
      @include font_style($main_font, 16px, 400, $text_color_for_blog);
      display: flex;
      justify-content: start;
      flex-direction: row-reverse;
      align-items: end;

      .field--name-field-text {
        @include font_style($main_font, 16px, 400, $text_color_for_blog);
        max-width: 820px;
        padding-right: 10px;
        text-align: justify;
        line-height: 24px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        .field--name-field-text {
          padding: 0 10px;
        }
      }
    }
  }
}

