.paragraph--type--image {

  .content-wrapper {
    position: relative;
    transition: all .10s ease;

    .text-wrapper-paragraph-image {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;

      .field--name-field-title-paragraph {
        display: none;
        width: 100%;
        color: $main_color;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 10;
      }
    }

    &::before {
      position: absolute;
      display: none;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(#000000, 0.5);
      z-index: 5;
    }

    &:hover {

      &::before {
        display: block;
      }

      .field--name-field-title-paragraph {
        display: block;
      }
    }
  }
}
