.paragraph--type--text {
  @include font_style($main_font, 16px, 400, $text_color_for_blog);
  line-height: 24px;
  text-align: justify;

  @media (max-width: 768px) {
    margin: 15px;
  }

  .field--name-field-title-paragraph {
    @include font_style($main_font, 20px, 400, $text_color_for_blog);
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 10px;
  }
}
